@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.contact__header {
    align-items: flex-start;
    background-color: #F8A663;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    position: relative;
    margin: 2rem 0rem;
    height: 40vh;
    margin-top: 5rem;
}

.custom-btn {
    font-size: large;
    font-weight: 100;
    border-color: #F8A663;
    color: whitesmoke;
    cursor: pointer;
    background: linear-gradient(277.87deg, #F47A15 -2.6%, #F8A663 100%);
}

@media screen and (max-width:960px) {
    .contact__header {
        height: 24vh;
        margin-top: 5rem;
    }
}

@media screen and (max-width:767px) {
    .contact__header {
        display: inline;
        height: 20vh;
        margin-top: 5rem;
    }
    .contact h1 {
        padding-top: 4rem;
    }
}