        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
        .contact__header {
            align-items: flex-start;
            background-color: #F8A663;
            display: flex;
            justify-content: center;
            margin-left: 40%;
            position: relative;
            margin: 2rem 0rem;
            height: 40vh;
            margin-top: 5rem;
        }
        
        .contact h1 {
            font-family: 'Montserrat', sans-serif;
            line-height: normal;
            padding-top: 7rem;
            font-weight: 600;
            color: #FFFFFF;
        }
        
        .contact h2 {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        
        .NeedHelp {
            width: 100%;
        }
        
        .form {
            margin: 0rem 3rem;
            width: 100%;
        }
        
        .contact__down {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
            margin: 3rem;
        }
        
        .custom-btn {
            font-size: large;
            font-weight: 100;
            border-color: #F8A663;
            color: whitesmoke;
            cursor: pointer;
            background: linear-gradient(277.87deg, #F47A15 -2.6%, #F8A663 100%);
        }
        
        @media screen and (max-width:960px) {
            .contact__header {
                height: 24vh;
                margin-top: 5rem;
            }
        }
        
        @media screen and (max-width:767px) {
            .contact__header {
                height: 20vh;
                margin-top: 5rem;
            }
            .contact h1 {
                padding-top: 4rem;
            }
        }