@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.Testimonial {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}