        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        .certified h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
        }
        
        .certified-image {
            justify-content: center;
            margin: 2rem;
            padding-left: 38%;
        }
        
        .certified img {
            height: 35px;
            margin: 0 0.7rem;
        }
        
        @media screen and (max-width: 1023px) {
            .certified-image {
                padding-left: 35%;
            }
            .certified img {
                height: 30px;
                margin: 0 0.7rem;
            }
        }
        
        @media screen and (max-width: 767px) {
            .certified-image {
                padding-left: 28%;
            }
        }
        
        @media screen and (max-width: 450px) {
            .certified-image {
                padding-left: 16%;
            }
        }