@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.world {
    margin: 3.5rem 0;
    justify-content: center;
    background: #FDE4D0;
}

.world h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #1E1E1E;
    padding-top: 3rem;
    text-align: center;
}

.world button {
    width: 40%;
    height: 5vh;
    margin-left: 45%;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1px;
    border-color: #F8A663;
    color: whitesmoke;
    cursor: pointer;
    background: linear-gradient(277.87deg, #F47A15 -2.6%, #F8A663 100%);
}

@media screen and (max-width: 767px) {
    .world h1 {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        padding-top: 2rem;
    }
    .world button {
        width: 45%;
        height: 5vh;
        margin-left: 25%;
        border-radius: 1px;
    }
}